body {
  background-color: coral;
}

h1 {
  text-shadow: 5px 5px 5px black;
  color: white;
  margin-left: 20px;
}

h2 {
  color: teal;
  margin-left: 20px;
}

h2 { 
  font-style: italic; 
}

table{
    background-color:#666633;
}

tr:nth-child(even){background-color:#cccc00;}
tr:hover{background-color:#ffcc99;}

.obraz {
    height: 250px;
    width: 400px;
    top: 20%;
    left: 40%;
    position: absolute;
}
