body {
  background-color: #ffcccc;
}

h1 {
  text-shadow: 5px 5px 5px black;
  color: white;
  margin-left: 20px;
}

h2 {
  color: teal;
  margin-left: 20px;
}

h2 { 
  font-style: italic; 
}

table{
    background-color:#cc99ff;
}

tr:nth-child(even){background-color:#00cccc;}
tr:hover{background-color:#ffcc99;}

.obraz {
    height: 250px;
    width: 400px;
    top: 20%;
    left: 40%;
    position: absolute;
}
// #cc99ff fioletowy
// #00b386 niebieski
// #e6ccff jasny fioletowy
// #ffcccc jasny brzoskwiniowy
