

input {
  margin: 3px;
	border-style: solid;
	border-radius: 4px;
}

li {
	color: white;
	margin-left: 20px;
	font-size: 34px;
  	text-shadow: 5px 5px 5px black;

}

.notion{
  justify-content: flex-end;
}

.link{
	float: left;
    text-decoration: none;
	height: 45px;
	width: 250px;	
    background-color: rgb(0, 0, 0, 0.4);
    color:white;
    align-items: center;
    display: flex;
	justify-content: center;
	border-radius: 11px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* .subnavbtn{
  float: left;
    text-decoration: none;
	height: 45px;
	width: 250px;	
    background-color: rgb(0, 0, 0, 0.4);
    color:white;
    align-items: center;
    display: flex;
	justify-content: center;
	border-radius: 11px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.linki{
  background-color: rgb(0, 0, 0, 0.4);
  height: 15px;
  padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav:hover .subnav-content {
  display: block;
}

.subnav {
  float: left;
  overflow: hidden;
} */


.nav {
	position: absolute;
	height: 100%;
	width: 250px;
	
    align-items: space-around;
	
}

/* .subnav-content:hover {
  background-color: rgb(255, 255, 255, 0.3);
  } */

.link:hover {
  background-color: rgb(255, 255, 255, 0.3);
  }


h1 {
  text-shadow: 5px 5px 5px black;
  color: white;
  margin-left: 20px;
}

h2 {
  color: white;
  margin-left: 20px;
  text-shadow: 2px 2px 2px black;    
 

}

.con{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}


table{
    background-color: rgb(0, 17, 51, 0.4);
	color: rgb(255, 255, 255, 0.7);
	display: flex;
	flex-direction: column;
}

th{

    background-color:rgb(0, 0, 0, 0.4);
}

tr:nth-child(even){background-color:rgb(32, 41, 86, 0.4);}
tr:hover{background-color:rgb(255, 255, 255, 0.3);}

.obraz {
    height: 250px;
    width: 400px;
    top: 20%;
    left: 40%;
    position: absolute;
}

.tapetaformularz {
      height: 100%;
      width: 100%;
      top: 0%;
      right: 0%;
      position: absolute;
	    z-index: -1;

  }


.obrazek {
	height: 30px;
	width: 30px;
}


.glownatapeta {
      height: 100%;
      width: 100%;
      top: 0%;
      right: 0%;
      position: absolute;
	    z-index: -1;

  }


.stronatapeta {
      height: 100%;
      width: 100%;
      top: 0%;
      right: 0%;
      position: absolute;
	    z-index: -1;

  }



h2 {
  padding-top:12px;
  padding-bottom:12px;

}


.gallery {
  display: flex;
}

.row {
  background-color: lightcoral;
}

.image {
  text-decoration: none;
  
  background-color: lightblue;
  margin: 5px;
  padding: 0px;
  width: 500px;
  height: 300px;
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: contain, cover; */
  background-position: center;
  background-size: cover;
  transition: 0.51s;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
}


.image:hover {
  transform: scale(0.98);
  filter: saturate(2.2) brightness(1.4);
}

.foto01 {
  background-image: url("https://images.gram.pl/gallery/kgda20210426143804617gjii.jpg");
}

.foto02 {
  background-image: url("https://images.gram.pl/news/urad20210317121014650mfgd.jpg");
}

.foto03 {
  background-image: url("https://images.gram.pl/news/eulh20200207115307632debq.jpg");
}

.foto04 {
  background-image: url("https://fanbojizycie.files.wordpress.com/2017/12/wiedzmin8.jpg");
}

.foto05 {
  background-image: url("https://cont4.naekranie.pl/wp-content/uploads/2018%2F11%2F1-1-4.jpg");
}

.foto01_title {
 
  background: black;
  display: block;
  text-align: center;
  color: white;
}
.foto01_price {

  background-color: black;
  display: block;
  text-align: center;
  color: white;
}




