*{
    margin:0px;
    padding:0px;
}
.con{
    height: 100vh;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
}
.item{
    display:flex;
    width:400px;
    height:400px;
    background:rgb(255, 153, 153);
}
.kwa{
    height: 75px;
    width: 75px;
    background:rgb(217, 179, 255);
    margin:8px;
}
.pros{
    height: 75px;
    width: 130px;
    background: rgb(0, 204, 204);
    margin:8px;
}
.a{
    justify-content: flex-start;
}
.b{
    justify-content: flex-end;
}
.c{
    align-items: flex-end;
}
.d{
    justify-content: flex-end;
    align-items: flex-end;
}
.e{
    justify-content: center;
}
.f{
    justify-content: center;
    align-items: center;
}
.g{
    justify-content: center;
    align-items: flex-end;
}
.h{
    justify-content: flex-start;
}
.i{
    justify-content: center;
}
.j{
    justify-content: center;
    align-items: center;
}
.k{
    justify-content: center;
    align-items: flex-end;
}
.menu{
    display:flex;
    height: 100%;
    width:100%;
    justify-content: space-around;
    align-items: center;
}
.linka{
    padding:10px;
    text-decoration: none;
    background:yellow;
}
.linka:hover{
    color:green;
    background:white;
    transform: rotate(12deg);
    transition:2s;
    
}
.linkb{
    padding:10px;
    text-decoration: none;
    background:rgb(204, 153, 0);
}
.linkb:hover{
    background-image: linear-gradient(red, yellow);
    padding:16px;
    border-radius: 7px;
    transition: 0.1s;
}
.menub{
    display:flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}
.linkc{
    background:rgb(153, 153, 102);
    width:100%;
    height: 100%;
    display:flex;
    justify-content: center;
    text-decoration: none;
    border:1px solid black;
}
.linkc:hover{
    justify-content: flex-start;
    transform: matrix(1, -0.3, 0, 1, 0, 0);
    border-radius: 25px;
  background: url(paper.gif);
  background-position: left top;
  background-repeat: repeat;
  padding: 20px;
  width: 200px;
  height: 150px;
    transition: 1s;
    color:white;
}
.linkd{
    background:lightsalmon;
    width:100%;
    height: 100%;
    display:flex;
    justify-content: center;
    text-decoration: none;
    margin-bottom:2px;
}
.linkd:hover{
    background-image: radial-gradient(red, yellow, green);
    transform: scale(2, 3);
    border-radius:5px;
    transition: 1s;
}
